.submits form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.submits form input,textarea{
    width:40%;
    margin-bottom: 10px;
}