.contact-col{
	/* flex-basis: 48%; */
	margin-bottom:40px;
	padding: 30px;
	background: #fff;
	width: 80%;
    margin-left: 60px;
    margin-top: 25px;
	/* box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12); */
    box-shadow: 0 0 5px 0 red;
	padding-top:40px;
    background-color:cornsilk;
  }

  .contact-col input, .contact-col textarea{
	width:70%;
	padding:10px;
	margin:15px 0;
	box-sizing:border-box;
	border:none;
	outline:none;
	/* background:#f0f0f0; */
    background-color:#fff;
	border:1px solid;
  }

  .red-btn{
    border:1px solid #f44336;
    background:transparent;
    background-color:#f44336;
    color:white;
    padding: 10px;
    width:250px;
    font-size: 20px;
}

.red-btn:hover{
    color:#fff;
}
